.#{$prefix}-form-group {
  position: relative;

  .#{$prefix}-form-input {
    width: 100%;
    height: 36px;
    padding: 0 24px 0 12px;
    border: 1px solid #d4d5dc;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03px;
    color: #172b4d;
    outline: none;
  }
}
