.#{$prefix}-form-group {
  // input 영역 감싸는 부모 스타일
  .#{$prefix}-form-group__select-box {
    position: relative;
    width: 250px;
    min-width: 80px;
    max-width: 680px;
    height: 36px;
    padding: 7px 12px;
    border: 1px solid $N40;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.03px;
    background-color: $N10;
    color: $N800;
    outline: none;

    &:hover {
      background-color: $N20;
    }

    &:focus {
      padding: 7px;
      border: 2px solid $B400;
      border-radius: 3px;
      background-color: $N0;
    }

    &[disabled],
    fieldset[disabled] & {
      border-color: $N20;
      background-color: $N20;
      cursor: not-allowed;
    }

    // placeholder 컬러 스타일
    &::-webkit-input-placeholder {
      color: $N70;
    }

    &:-ms-input-placeholder {
      color: $N70;
    }

    .#{$prefix}-form-group__select-box-text {
      overflow: hidden;
      display: block;
      font-size: 14px;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
    }

    select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 34px;
      padding: 0 32px 0 12px;
      font-size: 14px;
      line-height: 33px;
      border: 0 none;
      background-color: transparent;
      -webkit-appearance: none;
      color: $N800;

      &::-ms-expand {
        display: none;
      }
    }

    .#{$prefix}-form-group__icon {
      position: absolute;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      padding: 0;
      border: 0 none;
      background-color: transparent;

      i {
        font-size: 20px;
        vertical-align: top;
        color: $N500;
      }
    }

    &.#{$prefix}-form-group__select-box--icon-left {
      padding-left: 40px;

      // select 아이콘
      .#{$prefix}-form-group__icon {
        left: 12px;
      }
    }

    // 우측 아이콘 위치
    &.#{$prefix}-form-group__select-box--icon-right {
      padding-right: 32px;

      // select 아이콘
      .#{$prefix}-form-group__icon {
        right: 8px;
      }
    }
  }
}
